/* --------------------------------------
   Tema por defecto (Modo Día)
--------------------------------------- */

:root {
    --primary-color: #32a852;  /* Verde planta */
    --secondary-color: #478541;
    --background-color: #ffffff;
    --text-color: #333333;
    --nav-color: rgba(255, 255, 255, 0.6);
    --top-nav-color: rgba(255, 255, 255, 0.6);
    --outer-background-color: rgb(255, 255, 255);


}

/* Aplicación de los colores */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-item.active {
    color: var(--primary-color);
}

/* Otros estilos que utilizan estas variables... */
